<h1 class="bg-primary text-white p-4">Basic</h1>
<div class="container">
  <div class="" row>
    <div class="" col-sm-12>
      <button class="btn btn-primary">Enter</button>
      <hr />
      <app-table></app-table>
      <app-blog></app-blog>
      <app-product></app-product>
      <app-product></app-product>
      <app-products></app-products>
      <app-products></app-products>
      <!-- <app-product></app-product> -->
      <!-- <app-product></app-product>
      <app-product></app-product>  -->
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let skill of skills">
          I love {{ skill }}
        </li>
      </ul>
    </div>
  </div>
</div>
