<p class="blogPost">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt dolores facilis
  accusantium enim est reiciendis ducimus nesciunt molestias. Adipisci itaque
  quisquam, blanditiis quasi delectus ipsa laborum laudantium quo nam ipsam.
</p>
<p class="blogPost">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt dolores facilis
  accusantium enim est reiciendis ducimus nesciunt molestias. Adipisci itaque
  quisquam, blanditiis quasi delectus ipsa laborum laudantium quo nam ipsam.
</p>
